*{
    box-sizing: border-box;
}
body{
    border: 0;
    background-image: url("simple-feature-section-master/resources/Background_image.svg");
    background-color: #121826;
    color: white;
}
main{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.feature{
    background-color: #212936;
    border-radius: 20px;
    padding: 20px;
}
.feature img{
    border-radius: 20px;
}
h1{
    text-align: center;
}
main > p{
    text-align: center;
}
/* =========================
   TABLET
   ========================= */

@media (max-width: 1100px) and (min-width: 768px) {

    main {
        max-width: 700px;
    }

    .container {
        flex-wrap: wrap;
    }

    .feature {
        width: 316px;
    }

    h1 {
        font-size: 40px;
    }
}


/* =========================
   MOBILE
   ========================= */

@media (max-width: 767px) {

    main {
        width: 100%;
        padding: 0 48px;
    }

    h1 {
        font-size: 40px;
        line-height: 1.2;
    }

    main > p {
        font-size: 16px;
    }

    .container {
        flex-direction: column;
        gap: 48px;
    }

    .feature {
        width: 100%;
        padding: 24px;
    }

    .feature img {
        width: 100%;
        height: auto;
    }
}